.search-input-container{
    display: flex;
    justify-content: center;
}

.input-wrapper {
    padding: 1em;
    width: 45%;
    padding-left: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#search .rah-input-wrapper{
    position: relative;
    display: inline-block;
    width: 100%;
}

.search-input{
    height: 40px;
    width: 100%;
    padding: 10px;
    border-radius: 6px 0 0 6px;
    border: none
}

.search-input:focus{
    outline: none;
}

.search-button{
    height: 40px;
    padding: 0 20px;
    margin-left: -2px;
    z-index: 100;
    cursor: pointer;
    border-radius: 0 6px 6px 0;
    background-color: #64fcf2;
    border: none;
}

.search-button:focus{
    outline: none
}